In [1]:
# Automated exporting from Python to Excel of NVDA stock price analysis

# Setting up an xlsx writer

import pandas as pd

In [4]:
# Reading the data
data = pd.read_csv("NVDA.csv", index_col=0, parse_dates=True)
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-06,276.399994,284.380005,270.649994,281.779999,281.516724,45418600
2022-01-07,281.410004,284.220001,270.570007,272.470001,272.215424,40993900
2022-01-10,265.809998,274.690002,256.440002,274.000000,273.744049,59468100
2022-01-11,273.230011,280.649994,268.390015,278.170013,277.910156,40408900
2022-01-12,280.670013,285.950012,276.079987,279.989990,279.728394,38341300

In [5]:
# Calculating a simple 10 day moving average MA10
data['MA10'] = data['Close'].rolling(10).mean()
data.tail()

,Open,High,Low,Close,Adj Close,Volume,MA10
Date,,,,,,,
2022-12-29,144.020004,146.830002,142.270004,146.029999,146.029999,35492300,155.668001
2022-12-30,143.339996,146.289993,142.330002,146.139999,146.139999,31027300,153.330000
2023-01-03,148.509995,149.960007,140.960007,143.149994,143.149994,40127700,151.073999
2023-01-04,145.669998,148.529999,142.410004,147.490005,147.490005,43132400,149.569000
2023-01-05,144.910004,145.639999,141.479996,142.649994,142.649994,38871200,147.748999

In [6]:
# Calculating MACD
exp1 = data['Close'].ewm(span=12, adjust=False).mean()
exp2 = data['Close'].ewm(span=26, adjust=False).mean()
data['MACD'] = macd = exp1 - exp2
data['Signal line'] = exp3 = macd.ewm(span=9, adjust=False).mean()
data.tail()

,Open,High,Low,Close,Adj Close,Volume,MA10,MACD,Signal line
Date,,,,,,,,,
2022-12-29,144.020004,146.830002,142.270004,146.029999,146.029999,35492300,155.668001,-2.605715,1.370293
2022-12-30,143.339996,146.289993,142.330002,146.139999,146.139999,31027300,153.330000,-3.106815,0.474871
2023-01-03,148.509995,149.960007,140.960007,143.149994,143.149994,40127700,151.073999,-3.702528,-0.360609
2023-01-04,145.669998,148.529999,142.410004,147.490005,147.490005,43132400,149.569000,-3.780850,-1.044657
2023-01-05,144.910004,145.639999,141.479996,142.649994,142.649994,38871200,147.748999,-4.185224,-1.672770

In [7]:
# Calculating the Stochastic Oscillator
high14 = data['High'].rolling(14).max()
low14 = data['Low'].rolling(14).min()
data['%K'] = pct_k = (data['Close'] - low14)*100/(high14 - low14)
data['%D'] = pct_d = data['%K'].rolling(3).mean()
data.tail()

,Open,High,Low,Close,Adj Close,Volume,MA10,MACD,Signal line,%K,%D
Date,,,,,,,,,,,
2022-12-29,144.020004,146.830002,142.270004,146.029999,146.029999,35492300,155.668001,-2.605715,1.370293,14.655531,6.375618
2022-12-30,143.339996,146.289993,142.330002,146.139999,146.139999,31027300,153.330000,-3.106815,0.474871,14.879746,10.877845
2023-01-03,148.509995,149.960007,140.960007,143.149994,143.149994,40127700,151.073999,-3.702528,-0.360609,8.785157,12.773478
2023-01-04,145.669998,148.529999,142.410004,147.490005,147.490005,43132400,149.569000,-3.780850,-1.044657,19.803131,14.489345
2023-01-05,144.910004,145.639999,141.479996,142.649994,142.649994,38871200,147.748999,-4.185224,-1.672770,11.088469,13.225586

In [9]:
# Slicing the data for a shorter time period, and reversing the data
data = data.loc['2021-01-01':]
data = data.iloc[::-1]
data.head()

# The data is reversed because when creating the excel sheet, the most recent data should be on top,

C:\Users\user\AppData\Local\Temp\ipykernel_9604\4074035583.py:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  data = data.loc['2021-01-01':]

,Open,High,Low,Close,Adj Close,Volume,MA10,MACD,Signal line,%K,%D
Date,,,,,,,,,,,
2022-01-06,276.399994,284.380005,270.649994,281.779999,281.516724,45418600,NaN,0.000000,0.000000,NaN,NaN
2022-01-07,281.410004,284.220001,270.570007,272.470001,272.215424,40993900,NaN,-0.742678,-0.148536,NaN,NaN
2022-01-10,265.809998,274.690002,256.440002,274.000000,273.744049,59468100,NaN,-1.194033,-0.357635,NaN,NaN
2022-01-11,273.230011,280.649994,268.390015,278.170013,277.910156,40408900,NaN,-1.201401,-0.526388,NaN,NaN
2022-01-12,280.670013,285.950012,276.079987,279.989990,279.728394,38341300,NaN,-1.048300,-0.630771,NaN,NaN

In [10]:
# Installing the dependency

!pip install XlsxWriter

Requirement already satisfied: XlsxWriter in c:\users\user\anaconda3\lib\site-packages (3.0.3)

In [14]:
# Creating an excel file using Xlsx Writer
# Remeber to change the file name and chart names. The file created is in the same folder that the python
# scrypt is located in.

writer = pd.ExcelWriter("NVDAtechnicalanalysis.xlsx", 
                        engine='xlsxwriter', 
                        date_format = 'yyyy-mm-dd', 
                        datetime_format='yyyy-mm-dd')
workbook = writer.book

# Create a format for a green cell
green_cell = workbook.add_format({
    'bg_color': '#C6EFCE',
    'font_color': '#006100'
})
# Create a format for a red cell
red_cell = workbook.add_format({
    'bg_color': '#FFC7CE',                            
    'font_color': '#9C0006'
})
# **
# ** MA
# **
sheet_name = 'MA10'
data[['Close', 'MA10']].to_excel(writer, sheet_name=sheet_name)
worksheet = writer.sheets[sheet_name]
# Set column width of Date
worksheet.set_column(0, 0, 15)

for col in range(1, 3):
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=B2>=C2',
        'format': green_cell
    })
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=B2<C2',
        'format': red_cell
    })

# Create a new chart object.
chart1 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart1.add_series({
        'name': 'AAPL',
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 1, len(data), 1],
})
# Create a new chart object.
chart2 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart2.add_series({
        'name': sheet_name,
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 2, len(data), 2],
})
# Combine and insert title, axis names
chart1.combine(chart2)
chart1.set_title({'name': sheet_name + " NVDA"})
chart1.set_x_axis({'name': 'Date'})
chart1.set_y_axis({'name': 'Price'})
# Insert the chart into the worksheet.
worksheet.insert_chart('E2', chart1)

# **
# ** MACD
# **
sheet_name = 'MACD'
data[['Close', 'MACD', 'Signal line']].to_excel(writer, sheet_name=sheet_name)
worksheet = writer.sheets[sheet_name]
# Set column width of Date
worksheet.set_column(0, 0, 15)
for col in range(1, 4):
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=C2>=D2',
        'format': green_cell
    })
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=C2<D2',
        'format': red_cell
    })
# Create a new chart object.
chart1 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart1.add_series({
        'name': 'MACD',
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 2, len(data), 2],
})
# Create a new chart object.
chart2 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart2.add_series({
        'name': 'Signal line',
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 3, len(data), 3],
})
# Combine and insert title, axis names
chart1.combine(chart2)
chart1.set_title({'name': sheet_name + " NVDA"})
chart1.set_x_axis({'name': 'Date'})
chart1.set_y_axis({'name': 'Value'})
# To set the labels on x axis not on 0
chart1.set_x_axis({
    'label_position': 'low',
    'num_font':  {'rotation': 45}
})
# Insert the chart into the worksheet.
worksheet.insert_chart('F2', chart1)

# **
# ** Stochastic
# **
sheet_name = 'Stochastic'
data[['Close', '%K', '%D']].to_excel(writer, sheet_name=sheet_name)
worksheet = writer.sheets[sheet_name]
# Set column width of Date
worksheet.set_column(0, 0, 15)
for col in range(1, 4):
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=C2>=D2',
        'format': green_cell
    })
    # Create a conditional formatted of type formula
    worksheet.conditional_format(1, col, len(data), col, {
        'type': 'formula',                                    
        'criteria': '=C2<D2',
        'format': red_cell
    })

# Create a new chart object.
chart1 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart1.add_series({
        'name': '%K',
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 2, len(data), 2],
})
# Create a new chart object.
chart2 = workbook.add_chart({'type': 'line'})
# Add a series to the chart.
chart2.add_series({
        'name': '%D',
        'categories': [sheet_name, 1, 0, len(data), 0],
        'values': [sheet_name, 1, 3, len(data), 3],
})
# Combine and insert title, axis names
chart1.combine(chart2)
chart1.set_title({'name': sheet_name + " NVDA"})
chart1.set_x_axis({'name': 'Date'})
chart1.set_y_axis({'name': 'Value'})
# To set the labels on x axis not on 0
chart1.set_x_axis({
    'label_position': 'low',
    'num_font':  {'rotation': 45}
})
# Insert the chart into the worksheet.
worksheet.insert_chart('F2', chart1)
# End of sheets

# Close
writer.close()